*.swp
*.cmo
*.cmi
*.aux
*.log
*.annot
*.cma
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
lexer.ml
simp
parser.mli
report/_minted-main
